[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ltmix"]
	path = ltmix
	url = https://github.com/cran/ltmix
	shallow = true
	registered = true
